.errorContainer {
    display    : block;
    left       : 0;
    margin     : auto;
    position   : absolute;
    right      : 0;
    text-align : center;
    top        : 50%;
    transform  : translateY(-50%);
    width      : max-content;
}


.errorContainer a {
    text-decoration : underline;
}